body{
    margin: 0px;
}

a{
    text-decoration: none;
}
i {
    font-style: normal;
}
#body-img{
    padding-bottom: 100px;
    background-image: linear-gradient(
        to bottom,
        rgba(255,255, 255, 0) 10%,
        rgba(255,255, 255, 0) 25%,
        rgba(255,255, 255, 0.7) 40%,
        rgba(255,255, 255, 0.7) 50%,
        rgba(255,255, 255, 0.7) 75%,
        rgba(255,255, 255, 0.7) 100%
    ), url('/static/image/main3.jpeg');
    background-size: cover;
}
main {
    margin-top: 250px;
}
.body-container{
    display: flex;
    justify-content: center;

    margin: 0px auto;
}

.box-office{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

section {
    width: 450px;
}

.tg  {border-collapse:collapse;border-spacing:0; margin-top: 30px;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-g9gm{background-color:#c0c0c0;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:top}


.movie-container{
    width: 100%;
    height: 460px;

    float: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}
.movie-container .contents{
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.movie-container .contents{
    overflow: hidden;

    padding: 50px 30px 60px;
}
.movie-container-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.movie-container-title .btn-title{
    display: inline-flex
}
.movie-container-title .btn-title h3{
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
}
.movie-container-title .btn-title h3 ~ h3{
    position: relative;
    margin-left: 32px;
}

.movie-container-title .btn_allView{
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(/static/image/main/arrowR_8x13.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
}

.swiper{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.movieChart{
    overflow: visible;
    position: relative;
}
.movieChart .swiper-wrapper {
    counter-reset: movie-chart-counter;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap .screenType img {
    width: 35px;
    height: 7px;
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}
.img_wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap .movieAgeLimit_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 6px;
    top: 7px;
    z-index: 4;
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap .screenType_wrap .screenType {
    display: flex;
    align-items: center;
    position: relative;
    width: 34px;
    height: 10px;
    border: 1px solid rgba(223, 223, 223, 0.5);
    border-radius: 3px;
}
.movieChart .swiper-wrapper .swiper-slide .img_wrap .movieChart_btn_wrap {
    display: none;
}
.movieChart .swiper-wrapper .swiper-slide .movie_info_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieChart .swiper-wrapper .swiper-slide .movie_info_wrap .movieName {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movieChart .swiper-wrapper .swiper-slide .movie_info_wrap > span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: #444;
    line-height: 1.214em;
}
.movieChart .swiper-wrapper .swiper-slide .movie_info_wrap > span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}
.movieChart .swiper-wrapper .swiper-slide .movie_info_wrap > span ~ span {
    position: relative;
    padding-left: 16px;
}

i.cgvIcon.etc.age12{
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0) url(/static/image/moviechart/다운로드.svg);
    border-radius: 2px;
}
.movieChart .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}
.movieChart .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url(/static/image/moviechart/arrowL.png) center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}
.movieChart .swiper-button-prev {
    overflow: hidden;
    left: -20px;
    top: calc(50% - 26px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
}

.movieChart .swiper-button-prev:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url(/static/image/moviechart/arrowL.png) center/9px 13px scroll no-repeat;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

strong{
    font-weight: 500;
}