a {
    color: inherit;
    text-decoration: none;
}
ol, ul {
    list-style: none;
}

* {
    padding: 0;
}

.movie-detail{
    clear: both;
    padding-top: 80px;
    position: relative;
    width: 980px;
    margin: 0 auto;
}
.box-image {
    margin-right: 30px;
    width: 185px;
    height: 260px;
    float: left;
}
.box-image a {
    display: block;
}

.thumb-image {
    display: block;
    position: relative;
}
.thumb-image img {
    width: 185px;
    height: 260px;
}
i.cgvIcon.etc.age12{
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0) url(/static/image/moviechart/다운로드.svg);
    border-radius: 2px;
}
.thumb-image .cgvIcon.etc {
    position: absolute;
    left: 5px;
    top: 5px;
}

.box-contents {
    width: 765px;
    float: left;
    position: relative;
}

.title {
    display: block;
    color: #333333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title p {
    color: #666666;
}

.score {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d6c8;
    font-size: 14px;
}
.score .percent {
    vertical-align: middle;
}
strong {
    font-weight: 500;
}

.score .egg-gage {
    margin-top: -8px;
    margin-left: 2px;
    padding-left: 6px;
    background: url(../images/common/bg/bg_writeinfo.gif) 0 12px no-repeat;
}
.egg-gage.small .egg.great {
    width: 16px;
    background-position: -41px -47px;
}
.egg-gage.small .egg {
    display: inline-block;
    margin-right: 2px;
    width: 18px;
    height: 26px;
    background: url(/static/image/moviechart/sprite_egg.png) no-repeat 0 -47px;
    vertical-align: middle;
}
.egg-gage.small .percent {
    display: inline-block;
    margin-top: 8px;
    font-family: 'verdana';
    font-size: 12px;
    color: #000000;
    vertical-align: middle;
}
.egg-gage {
    display: inline-block;
    width: auto !important;
    line-height: 1;
}


.spec {
    padding-top: 18px;
    line-height: 1.6;
    color: #333333;
    font-size: 13px;
    font-weight: 500;
}
.spec dt {
    float: left;
    margin: 0;
}
.spec dd {
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
    float: left;
    margin: 0;
}
.spec .on {
    float: none;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cols-content {
 
}
.cols-content .col-detail:first-child {
    float: left;
}
.cols-content .col-detail {
    margin-left: 5px;
    position: relative;
    float: left;
}
.tab-menu {
    clear: both;
    text-align: center;
    margin-left: 0;
}
.tab-menu li:first-child {
    background: url(../images/sprite/sprite_corner.png) 0 -20px no-repeat;
}
.tab-menu li {
    display: inline-block;
    margin-left: -4px;
}
.tab-menu li:first-child a {
    background: #fb4357;
}
.tab-menu li a {
    display: inline-block;
    position: relative;
    height: 39px;
    padding: 0 15px;
    background: #fb4357 url(../images/common/bg/bg_tebmenu-line.gif) 0 12px no-repeat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 39px;
}

.main-contents{
    position: relative;
    margin: 0 auto;
    padding-top: 25px;
    width: 800px;
    height: 400px;
    top: 150px;
}
.story-movie{
    color: #333333;
    line-height: 1.8;
   
}
