.header-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px;

    width: 100%;
    height: 60px;

    background-color: black;
}

.site-logo {
    display: flex;
    align-items: center;
    color: wheat;
    margin-left: 10px;
    width: 56px;
    height: 60px;
}
