<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/body.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div id="container">
      <div id="body-img">
        <header>
            <div class="header-container">
                <div class="site-logo">
                    <h1>MovieFilm</h1>
                </div>
                <div class="header-right-container">
                    <button class="flim-button" type="button">
                        <img class="button-img" src="/static/image/header/flim.png">
                    </button>
                    <button class="search-button" type="button">
                        <img class="button-img" src="/static/image/header/search.png">
                    </button>
                </div>
            </div>
        </header>
        <main>
            <h1 class="box-office">2023년 01월 09일 박스오피스</h1>
              <div class="body-container">
                    <section>
                        <table class="tg" style="table-layout: fixed; width: 330px">
                            <colgroup>
                                <col style="width: 64px">
                                <col style="width: 87px">
                                <col style="width: 179px">
                            </colgroup>
                            <thead>
                                <tr>
                                  <th class="tg-g9gm">순위</th>
                                  <th class="tg-g9gm">순위 변동</th>
                                  <th class="tg-g9gm">영화명</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="tg-g9gm">1</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">아바타: 물의 길</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">2</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">더 퍼스트 슬램덩크</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">3</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">유령</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">4</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">교섭</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">5</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">영웅</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">6</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">6</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">7</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">8</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">9</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                                <tr>
                                  <td class="tg-g9gm">10</td>
                                  <td class="tg-g9gm">0</td>
                                  <td class="tg-g9gm">장화신은 고양이</td>
                                </tr>
                              </tbody>
                        </table>
                    </section>

                    <section>
                      <div style="width:100%;">
                        <canvas id="canvas" height="340"></canvas>
                        </div>   
                    </section>
              </div>
            </div>
            <div class="movie-container">
              <div class="contents">
                <div class="movie-container-title">
                  <div class="btn-title">
                    <h3><a href="#none" class="active" id="btnMovie">무비차트</a></h3>
                    <h3><a href="#none" id="btnReserMovie" class="">상영예정작</a></h3>
                  </div>
                  <a href="/movies/?lt=1&amp;ft=0" id="btn_allView_Movie" class="btn_allView">전체보기</a>
                </div>
                <div class="swiper movieChart">
                  <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12"></i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12"></i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                    <div class="swiper-slide" style="width: 170.4px; margin-right: 32px;">
                      <!-- 시작 -->
                      <div class="img_wrap" data-scale="false">
                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86072/86072_320.jpg" alt="아바타-물의 길" onerror="errorImage(this)">
                        <div class="movieAgeLimit_wrap">
                          
                            <i class="cgvIcon etc age12">12</i>
                            <!-- <img src="https://img.cgv.co.kr/R2014/images/common/flag/age/12.png" alt="12세"> -->
                            <!-- -->
                        </div>
                        <div class="screenType_wrap">
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/imax_white.png" alt="imax"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/forDX_white.png" alt="forDX"></i>
                            
                            <i class="screenType"><img src="https://img.cgv.co.kr/R2014/images/common/logo/screenx_white.png" alt="screenx"></i>
                            
                        </div>
                        <div class="movieChart_btn_wrap">
                            <a href="/movies/detail-view/?midx=86072" onclick="gaEventLog('PC_메인', '무비차트_영화상세', '아바타-물의 길');" class="btn_movieChart_detail">상세보기</a>
                        
                            <a href="/ticket/?MOVIE_CD=20031534&amp;MOVIE_CD_GROUP=20030160" onclick="gaEventLog('PC_메인', '무비차트_예매하기','아바타-물의 길')" class="btn_movieChart_ticketing">예매하기</a>
                      
                        </div>
                    </div>
                      <div class="movie_info_wrap">
                          <strong class="movieName">아바타-물의 길</strong>
                          <span> <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="Golden Egg great"> 96%</span>
                          <span>예매율 56.2%</span>
                      </div>
                  <!-- 끝 -->
                    </div>
                  </div>
                  <div class="swiper-button-next" tabindex="0" role="button" aria-label="다음 슬라이드" aria-disabled="false"></div>
                  <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="이전 슬라이드" aria-disabled="true"></div>   
                </div>
              </div>
            </div>
        </main>
    </div>
    <script src="/static/js/main/main.js"></script>
</body>
</html>